<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>欢迎</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/basic.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/topAndBottom.css}"/>
</head>
<body>
<div class="top" style="width:70%;margin-left: 300px;margin-top: 100px;">
    <div>欢迎使用API框架</div>
</div>
</body>
</html>